<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meet">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许应用在其他应用上层显示 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 显示系统窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 在屏幕最顶部显示addview -->
    <uses-permission android:name="android.permissionmission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/meet"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/meet"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meet">
        <activity
            android:name=".ui.PersonActivity"
            android:exported="false"
            android:label="个人中心"/>
        <activity
            android:name=".ui.PrivateSetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShareImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QrCodeActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".ui.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImagePreviewActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".ui.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NewFriendActivity"
            android:exported="false"
            android:label="好友申请" />
        <activity
            android:name=".ui.ContactFriendActivity"
            android:exported="false"
            android:label="从通讯录导入" />
        <activity
            android:name=".ui.FirstUploadActivity"
            android:exported="false" />

        <service
            android:name=".services.CloudService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.UserInfoActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".ui.AddFriendActivity"
            android:exported="false"
            android:label="添加好友" /> <!-- OPPO -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- 小米适配 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7e01e59e2de886e24219e8ce20335807" />

        <activity
            android:name=".ui.IndexActivity"
            android:exported="true"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".ui.GuideActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullScreen" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.meet.BmobContentProvider" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.meet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>